/* Genel stiller */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.dark-mode-toggle button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.dark-mode-toggle button:hover {
  background-color: #0056b3;
}

.feed-list {
  margin-top: 20px;
}

.feed-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.feed-item h3 {
  color: #333;
}

.feed-item p {
  color: #666;
}

.feed-item a {
  color: #007bff;
  text-decoration: none;
}

.feed-item a:hover {
  text-decoration: underline;
}

/* Karanlık mod stilleri */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode-toggle button {
  background-color: #6c757d;
}

.dark-mode-toggle button:hover {
  background-color: #545b62;
}

.feed-item {
  background-color: #444;
}

.feed-item h3 {
  color: #fff;
}

.feed-item p {
  color: #ccc;
}

.feed-item a {
  color: #4eade5;
}
