/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Aydınlık tema arka plan rengi */
    color: #333; /* Aydınlık tema metin rengi */
    line-height: 1.6;
    padding-bottom: 50px; /* Footer'ın altındaki içeriklerin görünmesi için */
}

header {
    background-color: #333; /* Aydınlık tema header arka plan rengi */
    color: #fff; /* Aydınlık tema header metin rengi */
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Aydınlık tema footer arka plan rengi */
    color: #fff; /* Aydınlık tema footer metin rengi */
    text-align: center;
    padding: 10px 0;
}

/* Karanlık tema için ek stil */
body.dark-mode {
    background-color: #333; /* Karanlık tema arka plan rengi */
    color: #f0f0f0; /* Karanlık tema metin rengi */
}

body.dark-mode header {
    background-color: #555; /* Karanlık tema header arka plan rengi */
    color: #fff; /* Karanlık tema header metin rengi */
}

body.dark-mode footer {
    background-color: #555; /* Karanlık tema footer arka plan rengi */
    color: #fff; /* Karanlık tema footer metin rengi */
}
