body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.mdc-layout-grid {
    margin-top: 20px;
    padding: 20px;
}

.mdc-layout-grid__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mdc-text-field--rounded .mdc-notched-outline {
    border-radius: 24px;
}

#rss-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

#rss-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
}

#rss-feed {
    margin-top: 20px;
    width: 100%;
}

.rss-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.rss-item h2 {
    margin: 0 0 10px;
    cursor: pointer;
}

.rss-item p {
    margin: 0;
}

.rss-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.dark-theme .rss-item {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.mdc-button--primary {
    background-color: #6200ee;
    color: #ffffff;
    border-radius: 24px;
}

.mdc-button--secondary {
    background-color: #03dac6;
    color: #000000;
    border-radius: 24px;
}

.mdc-button--fullwidth {
    width: 100%;
}

.mdc-top-app-bar {
    background-color: #6200ee;
}

body.dark-theme .mdc-top-app-bar {
    background-color: #333333;
}

body.dark-theme .mdc-button--primary {
    background-color: #bb86fc;
}

body.dark-theme .mdc-button--secondary {
    background-color: #03dac6;
    color: #000000;
}
